[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphql-ws-aiohttp = {editable = true, extras = ["dev"], path = "."}

[packages]
graphql-ws-aiohttp = {editable = true, path = "."}

[scripts]
tests = "python -m pytest"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
